.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
}
.app > form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.2;
}
.app > ul{
  flex-grow: 1;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.app > ul::-webkit-scrollbar{
  display: none;
}
.app__input{
  min-width: 180px;
  width: 20vw;
}